* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #d7c5ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: 40px auto;
  padding: 30px 20px;
}

.container__input {
  margin-bottom: 20px;
}

input {
  padding: 3px;
  border-radius: 5px 0 0 5px;
  width: 295px;
}

.btn-add {
  background-color: rgb(247, 120, 179);
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 5px 20px;
  margin-top: 10px;
}

.btn-delete {
  background-color: rgb(255, 98, 98);
  color: #6b3a58;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
}
.btn-edit {
  background-color: rgb(27, 50, 177);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  margin-right: 20px;
}

li {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px 20px;
  margin-bottom: 5px;
}